img{
    width : 3rem;
    height : 3rem;
    border-radius: 20%;
    margin-right: 0.5rem;
}

.list-row{
    display: flex;
}

.list{
    display: flex;
    flex-direction: column;
}

.selected{
    background-color: blue;
    color: white;
}

.bigImage{
    width: 50rem;
    height: 50rem;
    border-radius: 0.5%;
}

.imageAndList{
    display: flex;
    flex-direction: row;
}